body{
    font-family: sans-serif;
    background: rgb(215, 120, 77);
    margin: 0;
    padding: 0;

}
.conteiner{
    min-height: 100vh;
    display: flex;
    gap: 11px;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    color: rgb(16, 105, 235);
}
.github{
    display: flex;
    border-radius: 5px;
    width: 65px;
    height: 35px;
    background: #3ba7ff;
}